<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn").click(function () {
                $("#e2").show()
            })
        })

        oggle_visibility('id_of_element_to_toggle');

        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    </script>
</head>
<body>
<form action="/action_page.php">
    english1<br>
    <input type="text" name="english_name1" value="english_name1" id="e1">
    <br>
    <span style="display:none;" class="toshow">
         english2<br>
        <input type="text" name="english_name1" value="english_name1" id="e2"  >
    </span>

    <br><br>
    <button id="btn">add english name</button>
    <input type="submit" value="Submit">
</form>
<ol>
    <li></li>
</ol>

<p>If you click on me,I will disapper</p>
<p>Click me away!</p>
<p>Click me too!</p>

<button>Click me to hide paragraphs</button>
</body>
</html>
