<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paper detail</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {{ p.title }}
    {{ p.authors }}
    {{ p.authors }}
    {{ p.periodical }}
    {{ p.year }}
    {{ p.volume }}
    {{ p.stage }}
    {{ p.leaf }}
    {{ p.DOI }}
    {{ p.JCR_categories }}
    {{ p.JCR_sorts }}
    {{ p.JCR_partitions }}
    {{ p.body }}
    {{ p.author_key_words }}
    {{ p.Key_words_pluses }}
    {{ p.KeyWords_Plus }}
    {{ p.communication_author }}
    {{ p.communication_author_address }}
    {{ p.addresses }}
    {{ p.email }}
    {{ p.Fund_funded_institutions }}
    {{ p.Fund_funded_institutions_authorization_numbers }}
    {{ p.Fund_information}}
    {{ p.Influence_factor }}
    {{ p.Influence_factors_year }}
    {{ p.Influence_factors_years }}
    {{ p.ISSN }}
    {{ p.eISSN }}
    {{ p.Research_fields }}
    {{ p.Collection_number }}
    {{ p.IDS }}
    {{ p.checkout }}





</body>
</html>