{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
    <script src="js/semantic.js"></script>
     <script src="js/jquery.js"></script>
       <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
       <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous">
       </script>
     <script src="semantic/dist/semantic.min.js"></script>
</head>w
<body>
     <p>你已登录，欢迎你：<a href="#">{{ user.english_name }}</a></p>

    <!--<form action="" method="POST">-->
         <!--{% csrf_token %}-->
     <!--<input type="hidden" name="name" value="{{ user.english_name }}"/>-->
    <!--</form>-->

     <form action="" method="GET">
         {% csrf_token %}
      <input type="hidden" name="q"  value="{{ user.english_name }}"/>
      <input type="submit"  value="查看您的论文信息">
    </form>



<div class="ui segment">
  <p></p>
</div>

    <div class="header">
        <img src="{% static 'images/blah.png' %}">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Site</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Article</h2>
        <ul class="articles">
            {%  for item in find %}
                    <li>
                        <img src="{% static 'images/0004.jpg' %}" width="100" height="91">
                        <div class="article-info">
                            <h3><a href="#">{{ item.title }}  }</a></h3>
                            <p class="meta-info">
                                <span class="meta-cate">bay</span>
                                <span class="meta-cate">boat</span>
                                <span class="meta-cate">beach</span>
                            </p>
                            <p class="description">{{ item.author }}</p>
                        </div>
                        <div class="rate">
                            <span class="rate-score">{{ item.year }}</span>
                        </div>
                    </li>
            {% endfor %}
        </ul>

        <div class="main-content-pagitor">
            {% if find.has_previous %}
                <a href="?page={{ find.previous_page_number }}">< Pre </a>
            {% endif %}
            <span> {{ find.number }} of {{ find.paginator.num_pages }} </span>
            {% if find.has_next %}
                <a href="?page={{ find.next_page_number }}">Next ></a>
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <p>&copy;安徽大学论文管理系统</p>
    </div>

</body>
</html>
