{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
    <script type="text/javascript" src="{% static 'js/vue1.js' %}"></script>
    <script src="js/semantic.js"></script>
     <script src="js/jquery.js"></script>
       <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
       <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous">
       </script>
     <script src="semantic/dist/semantic.min.js"></script>

</head>
<body id="app">

    <!--<form action="" method="POST">-->
         <!--{% csrf_token %}-->
     <!--<input type="hidden" name="name" value="{{ user.english_name }}"/>-->
    <!--</form>-->
    <div class="ui center segment">
         <h2>你已登录，欢迎你：<a href="#">{{ user.english_name }}</a></h2>
         <form action="" method="GET">
         {% csrf_token %}
          <input type="hidden" name="q"  value="{{ user.english_name }}"/>
        </form>
    </div>
    <!--<div class="header">-->
        <!--<img src="{% static 'images/blah.png' %}">-->
        <!--<ul class="nav">-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Site</a></li>-->
            <!--<li><a href="#">Other</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="ui very padded segment">
        <h2>您的论文信息如下:</h2>
        <table class="ui table">
          <thead>
            <tr>
                  <th>论文题目</th>
                  <th>作者名单</th>
                  <th>分区索引</th>
                  <th>分区索引目录</th>
                  <td>页</td>
                  <th>发表期刊</th>
                  <th>卷</th>
                  <th>期</th>
                  <th>发表日期</th>
                  <th>信息是否正确</th>
            </tr>
          </thead>
          <tbody>
          {%  for item in find %}
            <tr>
                 <td>{{ item.title }}</td>
                 <td>{{ item.author }}</td>
                 <td>{{ item.dol }}</td>
                 <td>{{ item.dol_catalog }}</td>
                 <td>{{ item.leaf }}</td>
                 <td>{{ item.periodical }}</td>
                 <td>{{ item.stage }}</td>
                 <td>{{ item.volume }}</td>
                 <td>{{ item.year}}</td>
                 <td>
                     {% if item.checkout %}
                       <button class="ui positive basic button" v-on:onclick="reverse">
                           正确
                       </button>
                     {% else %}
                        <button class="ui negative button button">错误</button>
                     {% endif %}
                     <!--{{ item.checkout }}-->
                 </td>

            </tr>
          {% endfor %}
          </tbody>
          <tfoot class="full-width">
            <tr>

            </tr>
          </tfoot>
        </table>
                <div class="main-content-pagitor">
                    {% if find.has_previous %}
                        <a href="?page={{ find.previous_page_number }}">< Pre </a>
                    {% endif %}
                    <span> {{ find.number }} of {{ find.paginator.num_pages }} </span>
                    {% if find.has_next %}
                        <a href="?page={{ find.next_page_number }}">Next ></a>
                    {% endif %}
                </div>

    </div>
    <div class="footer">
        <p>&copy;安徽大学论文管理系统</p>
    </div>
  <script>
      semantic.button = {};

// ready event
semantic.button.ready = function() {

  // selector cache
  var
    $buttons = $('.ui.buttons .button'),
    $toggle  = $('.main .ui.toggle.button'),
    $button  = $('.ui.button').not($buttons).not($toggle),
    // alias
    handler = {

      activate: function() {
        $(this)
          .addClass('active')
          .siblings()
          .removeClass('active')
        ;
      }

    }
  ;

  $buttons
    .on('click', handler.activate)
  ;


  $toggle
    .state({
      text: {
        inactive : 'Vote',
        active   : 'Voted'
      }
    })
  ;

};
  </script>

</body>
</html>
