<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="ui center very padded segment">
        <form action="" method="GET">
         <!--{% csrf_token %}-->
              <input type="text" name="q" placeholder="输入要查的关键字"/>
    {#            <input type="text" name="select" >#}
                <br>

              <input type="radio" name="gender" value="title" checked> 题目<br>
              <input type="radio" name="gender" value="authors"> 作者<br>
              <input type="radio" name="gender" value="Key_words_pluses"> 关键字<br>
              <input type="submit"  value="Search">

        </form>
   </div>





</body>
</html>