{% load static %}
<!DOCTYPE html>
<html>
<head>
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/my.css' %}">
</head>
<body>
    <input id="tl" type="text"/>
    <input id="al" type="button" value="添加论文署名"/>

    <ol id="ul">
    </ol>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#al').click(function(){
            var v = $('#tl').val();

            var tmp = "<li>"+v+"</li>";
            $('#ul').append(tmp);
        })
    </script>
</body>
</html>
