{% extends 'web/base.html' %}
{% load static %}
<html lang="zh-cn">
<head>
    <title>首页</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body class="bg">

<div>
    <div class="flex-center">
        <div class="container">
        </div>
    </div>
</div>

</body>
{% endblock %}
</html>